body{
    background-color: hsl(212, 45%, 89%);
    display:flex;
    justify-content:center;
}
.center{
    background-color: hsl(0, 0%, 100%);
    width: 220px;
    height:350px;
    margin:100px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
}
.qr{
    margin: 10px;
    margin-bottom: 0%;
    flex: 1;
}
.img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.text{
    flex:1;
    display: flex;
    flex-direction: column;
 font-family:Arial, Helvetica, sans-serif;
  
}
.hd{
    color:hsl(218, 44%, 22%);
    text-align: center;
   
    /*border-style: dashed;*/
    flex:2;
    margin-bottom: 3px;

    
}
.content{
    color: hsl(216, 15%, 48%);
   /* border-style: dashed;*/
    flex:2;
    margin-top: 3px;
    font-size:12px;
    text-align:center;
    padding:9px;
}
@media screen and (max-width:600px) {
 * {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}